.box
{
    width: 33%;
    /*height: 80px;*/
    float: left;
    border-radius: 15px;
}
.box1
{
    width: 80px;
    height: 80px;
    float: left;
}
.yellow
{
    background-color: yellow;
    margin-left: 1%;
    padding-top: 33%;
}
.yellow1
{
    background-color: yellow;
    margin-left: 10px;
}
div{
    width: 30%;
    /*height: 80px;*/
    float: left;
    border-radius: 15px;
    padding-top: 30%;
    margin-left: 2%;
    margin-top: 2%;
    background-color: orange;
}